# Copy this file to .env and add your keys.
# Do not commit .env to version control.

VITE_GEMINI_API_KEY=AIzaSyDML2nodetJirJyVZ-XOrcwdPZmMA4LFU0
VITE_KANOON_TOKEN=d0a19d0dcb84ac5d38a8decf9e19c37f44600bc1
